<form class="form-control form-control-lg" type="text" placeholder=".form-control-lg" action="/answer" data-turbo="false">
  <input type="text" name="member">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
